extends layout.pug

block content
    form(action="/hello", method='post')
        label(for="name") Please enter your name:
            input(type='text', name='username')
        button(type='submit') Submit